.chat {
    background-color: #B4CBFF;
    height: 42rem;
    display: flex;
    .left {
        flex: 2.5;
    }
    .middle {
        flex: 7.5;
        // float: none;
        // position: absolute;
        // width: 56vw;
    }
    .right {
        flex: 2;
        // float: right;
    }
}