.chatbox {
    width: 56vw;
    height: 89vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 10px;
    margin: 6px 0 0 306px;
    border-radius: 15px;
    .top {
        margin: 10px 20px;
        .chatbox-group-name {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 10px;
            .group-icon-chat {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #f00;
                margin-right: 10px;
            }
            p {
                font-size: small;
                margin-left: 25px;
                color: #004dfa;
            }
        }
    }
    .middle {
        float: none;
        position: fixed;
        width: 56vw;
        .chatbox-messagesending {
            display: flex;
            flex-direction: row;
            align-items: center;
            .chatbox-message-avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f00;
                margin-right: 10px;
            }
            .chatbox-message-content {
                width: 23vw;
                height: 100%;
                padding: 10px;
                border-radius: 10px;
                background-color: #b5cbfe;
            }
        }
        .chatbox-messageincoming {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .chatbox-message-avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f00;
                margin-left: 10px;
            }
            .chatbox-message-content {
                width: 23vw;
                height: 100%;
                padding: 10px;
                border-radius: 10px;
                background-color: #f3f7fc;
            }
        }
    }
    .bottom {
        margin-top: 70vh;
        .chatbox-message-input {
            display: flex;
            align-items: self-start;
            textarea {
                width: 85%;
                height: 30px;
                border: none;
                border-radius: 10px;
                background-color: #f3f7fc;
                padding: 10px;
                margin-bottom: 10px;
                resize: none;
                &:focus {
                    outline: none;
                }
            }
            button {
                border: none;
                width: 12%;
                height: 49px;
                border-radius: 10px;
                background-color: #f3f7fc;
                font-size: x-large;
                cursor: pointer;
            }
        }
    }
}