$phone: 640px;
$tablet: 768px;
.chatbox {
    width: 56vw;
    height: 628px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 10px;
    margin: 8px 0;
    border-radius: 15px;
    .top {
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .chatbox-group-name {
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .group-icon-chat {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
            span {
                font-size: x-large;
                margin-left: 12px;
                color: #004dfa;
            }
            .chatbox-group-members {
                font-size: large;
                color: #000000;
            }
        }
        .chatboxGroupModal {
            display: none;
        }
    }
    .middle {
        overflow-y: scroll;
        height: 63vh;
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
    .middleStream {
        overflow-y: scroll;
        height: 19vh;
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
    .chatBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 85%;
            height: 66px;
            border: none;
            border-radius: 10px;
            background-color: #f3f7fc;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            width: 12%;
            height: 40px;
            border-radius: 10px;
            background-color: #007bff;
            font-size: x-large;
            cursor: pointer;
            color: white;
        }
    }
    .chatBottomStream {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 85%;
            height: 27px;
            border: none;
            border-radius: 10px;
            background-color: #f3f7fc;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            width: 12%;
            height: 40px;
            border-radius: 10px;
            background-color: #004dfa;
            font-size: x-large;
            cursor: pointer;
            color: white;
        }
    }
    .noConvo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: xx-large;
        font-weight: bold;
        color: #004dfa;
        font-family: 'Roboto', sans-serif;
        cursor: default;
    }
}

.chatboxMobile {
    width: 56vw;
    height: 628px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 10px;
    margin: 8px 0;
    border-radius: 15px;
    .top {
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .chatbox-group-name {
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .group-icon-chat {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
            span {
                font-size: x-large;
                margin-left: 12px;
                color: #004dfa;
            }
            .chatbox-group-members {
                font-size: large;
                color: #000000;
            }
        }
        .chatboxGroupModal {
            display: none;
        }
    }
    .middle {
        overflow-y: scroll;
        height: 63vh;
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
    .middleStream {
        overflow-y: scroll;
        height: 19vh;
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
    .chatBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 85%;
            height: 66px;
            border: none;
            border-radius: 10px;
            background-color: #f3f7fc;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            width: 12%;
            height: 40px;
            border-radius: 10px;
            background-color: #007bff;
            font-size: x-large;
            cursor: pointer;
            color: white;
        }
    }
    .chatBottomStream {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 85%;
            height: 27px;
            border: none;
            border-radius: 10px;
            background-color: #f3f7fc;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            width: 12%;
            height: 40px;
            border-radius: 10px;
            background-color: #004dfa;
            font-size: x-large;
            cursor: pointer;
            color: white;
        }
    }
    .noConvo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: xx-large;
        font-weight: bold;
        color: #004dfa;
        font-family: 'Roboto', sans-serif;
        cursor: default;
    }
}

@media (max-width: $tablet) {
    .chatbox {
        width: 64vw;
        margin-left: 2vw;
        height: 95vh;
        .top {
            .chatboxGroupModal {
                display: block;
            }
        }
    }
}

@media (max-width: $phone) {
    .chatbox {
        width: 85vw;
        height: 90vh;
        .top {
            .chatbox-group-name {
                span {
                    font-size: large;
                    margin-left: 6px;
                }
                .chatbox-group-members {
                    font-size: small;
                }
            }
            .chatboxGroupModal {
                display: block;
            }
        }
        .chatBottom {
            button {
                width: 20%;
            }
        }
    }
    .chatboxMobile {
        display: none;
    }
}