.members {
    height: 664px;
    width: 18rem;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 12px;
    .member-title {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 8px;
        margin-bottom: 15px;
        padding-top: 14px;
        .down-arrow {
            width: 20px;
        }
    }
    .members-container {
        display: flex;
        flex-direction: column;
        .member-avatar-name {
            margin: 0 21px;
            width: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            border: 1px solid white;
            border-radius: 10px;
            padding: 5px 0;
        }
        .member-avatar-name-member {
            margin: 0 21px;
            width: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            border: 1px solid white;
            border-radius: 10px;
            padding: 5px 0;
            .member-name {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #b5cbfe;
                font-size: medium;
                cursor: pointer;
                .member-avatar {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                    filter: invert(75%) sepia(20%) saturate(681%) hue-rotate(189deg) brightness(103%) contrast(99%);
                }
            }
        }
    }
}